composer.lock
composer.phar
vendor/
nbproject/
.idea/
.DS_Store

application/var/*
!application/cache/.gitkeep
!application/logs/.gitkeep
!application/sessions/.gitkeep
!application/.htaccess

public/upload/*
!public/upload/temp/

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project